

@using Microsoft.AspNetCore.Identity
@using WeightTrackerApp6.Models;
@model WeightDetails

@{ Layout = "_LayoutProfile";
    ViewData["Title"] = "WeightInput"; }

<div class="row">
    <div class="col-xl-12 order-xl-1">
        <div class="card card-profile">
            <img src="~/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top" height="120px">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                        @*<a href="#">
                            <img src="~/img/theme/team-4.jpg" class="rounded-circle">
                        </a>*@
                    </div>
                </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">

                <div class="d-flex justify-content-between">
                    @*<a href="#" class="btn btn-sm btn-info mr-4">Edit Profile</a>*@
                    <a href="/WeightDetails/WeightDetails" class="btn btn-sm btn-default float-right">Add Weight Details</a>
                    @*<a class="nav-link" href="@Url.Action("Profile")">
                    <i class="ni ni-single-02 text-yellow"></i> User profile
                </a>*@
                </div>
            </div>
            @if (Model != null)
            {
        <div class="card-body pt-0 justify-content-center">
            @*<span class="text-muted d-block mb-2"><i class="material-icons mr-1">first name</i>@Model.First_Name</span>*@
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="Weights">Weight</label>
                        @*@(Model.FullName != null ? Model.FullName : Model.Username)*@
                        <span class="form-control">@(Model.Weights.Value)</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="Waist_size">Waist Size</label>
                        <span class="form-control">@Model.Waist_size</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="Height">Height</label>
                        <span class="form-control">@Model.Height.Value</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="Chest_size">Chest Size</label>
                        <span class="form-control">@Model.Chest_size</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="form-group">
                        <label class="form-control-label" for="Date">Date</label>
                        @*<input type="date" id="Date" name="Date" class="form-control" placeholder="Date" readonly="readonly" value="">*@<span class="form-control">@Model.Date</span>
                    </div>
                </div>
            </div>


            <!--<div class="text-center">
                <h5 class="h3">-->
                    @*@(model.fullname != null ? model.fullname : model.username)*@<!--<span class="font-weight-light">, 27</span>
                </h5>
                <div class="h5 font-weight-300">
                    <i class="ni location_pin mr-2"></i>
                    Bucharest, Romania
                </div>
                <div class="h5 mt-4">
                    <i class="ni business_briefcase-24 mr-2"></i>
                    Solution Manager - Creative Tim Officer
                </div>
                <div>
                    <i class="ni education_hat mr-2"></i>University of Computer Science
                </div>
            </div>-->
        </div> }
                    else
                    {
                        <div class="card-body pt-0 justify-content-center">
                            @*<span class="text-muted d-block mb-2"><i class="material-icons mr-1">first name</i>@Model.First_Name</span>*@
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="Weights">Weight</label>
                                        @*@(Model.FullName != null ? Model.FullName : Model.Username)*@
                                        <span class="form-control"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="Waist_size">Waist Size</label>
                                        <span class="form-control"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="Height">Height</label>
                                        <span class="form-control"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="Chest_size">Chest Size</label>
                                        <span class="form-control"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label class="form-control-label" for="Date">Date</label>
                                        @*<input type="date" id="Date" name="Date" class="form-control" placeholder="Date" readonly="readonly" value="">*@<span class="form-control"></span>
                                    </div>
                                </div>
                            </div>


                            <!--<div class="text-center">
                                <h5 class="h3">-->
                                    @*@(model.fullname != null ? model.fullname : model.username)*@<!--<span class="font-weight-light">, 27</span>
                                </h5>
                                <div class="h5 font-weight-300">
                                    <i class="ni location_pin mr-2"></i>
                                    Bucharest, Romania
                                </div>
                                <div class="h5 mt-4">
                                    <i class="ni business_briefcase-24 mr-2"></i>
                                    Solution Manager - Creative Tim Officer
                                </div>
                                <div>
                                    <i class="ni education_hat mr-2"></i>University of Computer Science
                                </div>
                            </div>-->
                        </div>
                                    }
        </div>
        </div>
    </div>


